[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
flask-cors = "*"
absl-py = "==0.2.2"
astor = "==0.6.2"
backcall = "==0.1.0"
bleach = "==1.5.0"
certifi = "==2018.4.16"
chardet = "==3.0.4"
click = "==6.7"
cloudpickle = "==0.5.3"
dask = "==0.17.5"
decorator = "==4.3.0"
gast = "==0.2.0"
grpcio = "==1.12.0"
gunicorn = "==19.8.1"
html5lib = "==0.9999999"
idna = "==2.7"
imageio = "==2.3.0"
ipython = "==6.4.0"
itsdangerous = "==0.24"
jedi = "==0.12.0"
kiwisolver = "==1.0.1"
matplotlib = "==2.2.2"
networkx = "==2.1"
numpy = "==1.14.3"
opencv-python = "==3.4.1.15"
parso = "==0.2.1"
pexpect = "==4.6.0"
pickleshare = "==0.7.4"
prompt-toolkit = "==1.0.15"
protobuf = "==3.5.2"
ptyprocess = "==0.5.2"
public = "==1.0.3"
pyparsing = "==2.2.0"
python-dateutil = "==2.7.3"
pytz = "==2018.4"
query-string = "==1.0.2"
requests = "==2.19.1"
scikit-image = "==0.14.0"
scipy = "==1.1.0"
simplegeneric = "==0.8.1"
six = "==1.11.0"
tensorflow = "==1.5.0"
tensorflow-tensorboard = "==1.5.1"
termcolor = "==1.1.0"
toolz = "==0.9.0"
traitlets = "==4.3.2"
urllib3 = "==1.23"
wcwidth = "==0.1.7"
Cycler = "==0.10.0"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.11.2"
Markdown = "==2.6.11"
MarkupSafe = "==1.1.1"
Pillow = "==5.1.0"
Pygments = "==2.2.0"
PyWavelets = "==0.5.2"
Werkzeug = "==0.15.0"

[requires]
python_version = "3.6"
